.basiccalc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.basiccalc-box {
    display: inline-block;
    border-radius: 32px;
    background: #e0e0e0;
    box-shadow: 4px 4px 16px #bebebe, -4px -4px 16px #ffffff;
    padding: 32px 24px 24px 24px;
    min-width: 340px;
    max-width: fit-content;
}
.basiccalc-row {
    min-width: 260px;
}